
#include "thememgr.h"
#include "appmsgs.h"

ICON   1 SZ_APPICON
BITMAP 1 SZ_APPBMP

DLGTEMPLATE DLG_MAIN LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    DIALOG  SZ_TITLE, DLG_MAIN, 0, 0, 1000, 1000, FS_DLGBORDER |
            NOT WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR | FCF_TASKLIST
            PRESPARAMS PP_FONTNAMESIZE "9.WarpSans"
    BEGIN
        GROUPBOX        SZ_PREVIEW, GRP_PRVIEW, 0, 0, 1000, 1000, DT_MNEMONIC
        CONTROL         "#1", IMG_MAIN, 0, 0, 10, 10, WC_STATIC, SS_BITMAP |
                        WS_GROUP | WS_VISIBLE
        GROUPBOX        SZ_THEMES, GRP_LIST, 0, 0, 10, 10, DT_MNEMONIC
        LISTBOX         LBX_MAIN, 0, 0, 10, 10, LS_NOADJUSTPOS
        PUSHBUTTON      SZ_APPLY, BTN_APPLY, 0, 0, 10, 10, WS_DISABLED
        PUSHBUTTON      SZ_CANCEL, BTN_CANCEL, 0, 0, 10, 10
        PUSHBUTTON      SZ_HELP, BTN_HELP, 0, 0, 10, 10,
                        BS_HELP | BS_NOPOINTERFOCUS
    END
END


HELPTABLE HLP_MAIN {
   HELPITEM DLG_MAIN, HLPS_MAIN, 1
}

HELPSUBTABLE HLPS_MAIN {
}

STRINGTABLE {
   IDERR_PARSEIDX    SZERR_PARSEIDX
   IDERR_BOOTDRIVE   SZERR_BOOTDRIVE
   IDERR_COPYMODULE  SZERR_COPYMODULE
   IDERR_WRITEINI    SZERR_WRITEINI
   ID_PREVIEW        SZ_PREVIEW
   ID_SUCCESS        SZ_SUCCESS
   ID_PREVUNKNOWN    SZ_PREVUNKNOWN
   ID_HLPTITLE       SZ_TITLE
}
